<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="d-flex justify-content-center mb-5" style="font-size: 40px">
        Posts
    </div>
    <div class="posts">
        {% for post in posts %}
        <div class="mb-3 bg-light">
            <a href="/posts/{{post.id}}" class="d-flex justify-content-center mb-2 text-secondary"
                 style="font-size: 18px">{{post.title}}
            </a>
            <div>{{post.text}}</div>
            <div class="d-flex justify-content-end mt-2 text-muted">Made by:
                {{post.author}}
            </div>
        </div>
        {% endfor %}
    </div>
    <div>
        <a href="/create_post">Create new post</a>
    </div>
</div>
</body>
</html>